<div style="width:80%;:0 auto;">
<h1>Modify vehicle</h1>
<%= form_for(@vehicle) do |v| %>
    <% @vehicle.errors.full_messages.each do |message| %>
        <div class="be-red white top-space">
            * <%=message%>
        </div>
    <% end %>
    <div class="field">
        <% v.text_field :brand, placeholder: "brand", class:"form-control" %>
    </div>
    <div class="field">
        <% v.text_field :name, placeholder: "vehicle", class:"form-control" %>
    </div>
    <div class="field">
        <% v.integer_field :year, placeholder: "Year", class:"form-control" %>
    </div>
    <div class="field">
        <% v.text_field :description, placeholder: "Description", class:"form-control" %>
    </div>
    <div class="field">
        <% v.bool_field :sold, placeholder: "Sold", class:"form-control" %>
    </div>
    <div class="field">
        <% v.datetime_field :created, placeholder: "Created at", class:"form-control" %>
    </div>
    <div class="field">
        <% v.datetime_field :updated, placeholder: "Updated at", class:"form-control" %>
    </div>
    <div class="field">
        <% v.submit "Guardar", class:"btn be-red white" %>
    </div>
<%end%>
</div>