<h1>Listing Books</h1>
 
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Brand</th>
      <th>Vehicle</th>
      <th>Year</th>
      <th>Description</th>
      <th>Sold</th>
      <th>Created at</th>
      <th>Update at</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @vehicles.each do |v| %>
      <tr>
        <td><%= v.id %></td>
        <td><%= v.brand %></td>
        <td><%= v.name %></td>
        <td><%= v.year %></td>
        <td><%= v.description %></td>
        <td><%= v.sold %></td>
        <td><%= v.created %></td>
        <td><%= v.updated %></td>
        <td><%= link_to "Show", v %></td>
        <td><%= link_to "Edit", edit_vehicle_path(v) %></td>
        <td><%= link_to "Delete", v, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>
 
<%= link_to "New vehicle", new_vehicle_path %>